@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

header {
  padding: 10px;
  background-color: #08c43a;
}

header > h1 {
  text-align: center;
  margin: 10px;
  font-size: 2.5em;
}

body {
  background-color: #09E644;
}

main {
  background-color: rgb(124, 240, 134);
  width: 90vw;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

main > h2 {
  text-align: center;
  margin-bottom: 20px;
}

main > p {
  text-indent: 15px;
  margin-bottom: 20px;
  text-align: justify;
}

main > nav > ul > li {
  margin: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a#desmatamento:hover {
  text-decoration: underline;
  color: darkred;
}

a#co2:hover {
  text-decoration: underline;
  color: rgb(134, 134, 134);
}

a#agua:hover {
  text-decoration: underline;
  color: rgb(5, 170, 170);
}